<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Tanıtım Sayfası</title>
    <link rel="stylesheet" href="~/css/anasayfa.css">
</head>
<body>
    <header>
        <h1>Hayvan Tanıtım Sayfası</h1>
    </header>
    <main>
        <section class="animal">
            <a href="#kedi">
                <img src="~/images/kedi.jpeg" alt="Kedi">
                <h2>Kedi</h2>
            </a>
        </section>
        <section class="animal">
            <a href="#kopek">
                <img src="~/images/kopek.jpeg" alt="Köpek">
                <h2>Köpek</h2>
            </a>
        </section>
        <section class="animal">
            <a href="#kus">
                <img src="~/images/kus.jpg" alt="Kuş">
                <h2>Kuş</h2>
            </a>
        </section>
        <section class="animal">
            <a href="#hamster">
                <img src="~/images/hamster.jpeg" alt="Hamster">
                <h2>Hamster</h2>
            </a>
        </section>
    </main>
</body>
</html>

