<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Travel Guide Responsive Widget Template | Home :: w3layouts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Travel Guide, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup
Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/web2/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>
    <div class="main-section">
        <div class="heading">
            <h1>Hayvanın Bilgileri</h1>
        </div>
        <div class="child-main">
            
            <div class="child-right">
                
                <h5>Hayvan Bilgisi</h5>
                <ul class="address">
                    <li>
                        <ul class="agileits-address-text ">
                            <li class="agile-it-adress-left"><b>Hayvanın Tipi</b></li>
                           
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Hayvanın Cinsiyeti</b></li>
                            
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Hayvanın Yaşı</b></li>
                            
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Hayvanın Rengi</b></li>
                            
                        </ul>
                    </li>
                </ul>
                <form asp-action="Delete">
                    <input type="hidden"  />
                    <input type="submit" value="Delete" class="btn btn-danger" style="border-color:black" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>