@model WebProje.Models.ModelSahiplen
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Sahiplenme Formu</title>
    <link rel="stylesheet" href="~/css/animal.css" asp-append-version="true" />
</head>
<body>
    <div class="form-container">
        <h1>Hayvan Sahiplenme Formu</h1>
        <form asp-controller="Sahiplenme" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="IsimSoyisim">İsim-Soyisim:</label>
                <input asp-for="IsimSoyisim" type="text" id="IsimSoyisim" name="IsimSoyisim" required>
                <span asp-validation-for="IsimSoyisim"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">E-posta:</label>
                <input asp-for="Email" type="email" id="Email" name="Email" required>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNo">Telefon Numarası:</label>
                <input asp-for="TelNo" type="text" id="TelNo" name="TelNo" required>
                <span asp-validation-for="TelNo"></span>
            </div>
            <div class="form-group">
                <label asp-for="HayvanID">Hayvan ID:</label>
                <input asp-for="HayvanID" type="text" id="HayvanID" name="HayvanID" required>
                <span asp-validation-for="HayvanID"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres">Adres:</label>
                <input asp-for="Adres" type="text" id="Adres" name="Adres" required>
                <span asp-validation-for="Adres"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre">Şifre:</label>
                <input asp-for="Sifre" type="password" id="Sifre" name="Sifre" required>
                <span asp-validation-for="Sifre"></span>
            </div>
            <br /><br />
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                    <p class="success-message">@ViewBag.SuccessMessage</p>
            }
            <br />
            <button type="submit">Sahiplen</button>
        </form>
    </div>
</body>
</html>