@model WebProje.Models.ModelHayvanKabul
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Kabul Formu</title>
    <link rel="stylesheet" href="~/css/animal.css" asp-append-version="true" />
</head>
<body>
    <div class="form-container">
        <h1>Hayvan Kabul Formu</h1>
        <form asp-controller="Kabul" asp-action="Index" class="form-group" method="post">
            <label asp-for="User_ID">Kullanıcı ID:</label>
            <input asp-for="User_ID" type="number" name="User_ID" id="User_ID" required>
            <span asp-validation-for="User_ID"></span>
            <label asp-for="Animal_Name">Hayvan İsim:</label>
            <input asp-for="Animal_Name" type="text" name="Animal_Name" id="Animal_Name" required>
            <span asp-validation-for="Animal_Name"></span>
            <label asp-for="Animal_Age">Hayvanın Yaşı:</label>
            <input asp-for="Animal_Age" type="number" name="Animal_Age" id="Animal_Age" required>
            <span asp-validation-for="Animal_Age"></span>
            <label asp-for="Animal_Gender">Cinsiyet:</label>           
            <input asp-for="Animal_Gender" type="radio" name="Animal_Gender" value="Erkek" id="Animal_Gender">Erkek
            <input asp-for="Animal_Gender" type="radio" name="Animal_Gender" value="Dişi" id=" Animal_Gender">Dişi
            <span asp-validation-for="Animal_Gender"></span>
            <label asp-for="Animal_Kind">Tür:</label>
            <input asp-for="Animal_Kind" type="radio" name="Animal_Kind" value="Kedi" id="Animal_Kind">Kedi
            <input asp-for="Animal_Kind" type="radio" name="Animal_Kind" value="Köpek" id="Animal_Kind">Köpek
            <input asp-for="Animal_Kind" type="radio" name="Animal_Kind" value="Kuş" id="Animal_Kind">Kuş
            <input asp-for="Animal_Kind" type="radio" name="Animal_Kind" value="Hamster" id="Animal_Kind">Hamster
            <span asp-validation-for="Animal_Kind"></span>
            <label asp-for="HayvanDurum">Hayvan Durumu:</label>
            <input asp-for="HayvanDurum" type="text" name="HayvanDurum" id="HayvanDurum" required>
            <span asp-validation-for="HayvanDurum"></span>
            <br /><br />
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <p class="success-message">@ViewBag.SuccessMessage</p>
            }
            <br />
            <button type="submit">Hayvan Bırak</button>
        </form>
    </div>
</body>
</html>
