@{
    Layout = "";
}
@model WebProje.Models.Login
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/animal.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProje.styles.css" asp-append-version="true" />
    </head>
<body >
    <div class="form-container">
        <div class="login_register-box">
            <h2 class="login_register-text">Giriş</h2>
            <form class="form" asp-action="Index" method="post">
                <input type="email" name="email" id="email" placeholder="E-Mail" required>
                <span asp-validation-for="E_Mail"></span>
                <input type="password" name="key" id="key" placeholder="Şifre" required>
                <span asp-validation-for="password"></span>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <p class="error-message">@ViewBag.ErrorMessage</p>
                }
                <br />
                <button type="submit" id="btn-login">Giriş Yap</button>
            </form>
        </div>
        <div class="login_register-box">
            <h2 class="login_register-text">Kayıt Ol</h2>
            <form asp-action="Register" class="form" method="post">
                <input asp-for="User_Name" type="text" name="User_Name" id="userName" placeholder="Kullanıcı Adı">
                <span asp-validation-for="User_Name"></span>
                <input asp-for="E_Mail" type="email" name="E_Mail" id="email" placeholder="E-Mail">
                <span asp-validation-for="E_Mail"></span>
                <input asp-for="Phone" type="number" name="Phone" id="phone" placeholder="Telefon No">
                <span asp-validation-for="Phone"></span>
                <input asp-for="First_Name" type="text" name="First_Name" id="firstname" placeholder="İsim">
                <span asp-validation-for="First_Name"></span>
                <input asp-for="Last_Name" type="text" name="Last_Name" id="lastname" placeholder="Soyisim">
                <span asp-validation-for="Last_Name"></span>
                <input asp-for="password" type="password" name="password" id="key" placeholder="Şifre">
                <span asp-validation-for="password"></span>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    <p class="success-message">@ViewBag.SuccessMessage</p>
                }
                <br />
                <button type="submit" >Kayıt Ol</button>
            </form>
        </div>
    </div>
    </body>
</html>
