@model WebProje.Models.Login
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/animal.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProje.styles.css" asp-append-version="true" />
    </head>
<body >
    <div class="form-container">
        <div class="login_register-box">
            <h2 class="login_register-text">Giriş</h2>
            <center>
                <input placeholder="Kullanıcı Adı" required>
                <span asp-validation-for="User_Name"></span>
                <input placeholder="Şifre" required>
                <span asp-validation-for="password"></span>
                <br /><br />
                <button type="submit" id="btn-login">Giriş Yap</button>
            </center>
        </div>
        <div class="login_register-box">
            <h2 class="login_register-text">Kayıt Ol</h2>
            <center>
                <input placeholder="Kullanıcı Adı" required>
                <span asp-validation-for="User_Name"></span>
                <input placeholder="E-Mail" required>
                <span asp-validation-for="E_Mail"></span>
                <input placeholder="Telefon No" required>
                <span asp-validation-for="Phone"></span>
                <input placeholder="İsim" required>
                <span asp-validation-for="First_Name"></span>
                <input placeholder="Soyisim" required>
                <span asp-validation-for="Last_Name"></span>
                <input placeholder="Şifre" required>
                <span asp-validation-for="password"></span>
                <br /><br />
                <button type="submit" id="btn-register">Kayıt Ol</button>
            </center>
        </div>
    </div>
    </body>
</html>
