<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Kabul İstekleri</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <nav class="sidebar">
            <div>
                <h2 style="color:cornflowerblue; text-align:center;">HAYVAN BARINAĞI</h2>
                <br /><br />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="fa-solid fa-cat sidebarField" asp-area="" asp-controller="Admin" asp-action="Index"><span>Sahiplenme Istek</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-dog sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Kabul"><span>Kabul Istekleri</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-cat sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Users"><span>Kullanicilar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="table-container">
        <h2>Hayvan Kabul İstekleri Tablosu</h2>
        <table>
            <thead>
                <tr>
                    <th>Hayvan Adı</th>
                    <th>Hayvan Yaşı</th>
                    <th>Hayvan Türü</th>
                    <th>Hayvan Cinsiyeti</th>
                    <th>Kullanıcı ID</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Max</td>
                    <td>3</td>
                    <td>Köpek</td>
                    <td>Erkek</td>
                    <td>12345</td>
                    <td>
                        <button class="btn-kabul">Kabul Et</button>
                        <button class="btn-reddet">Reddet</button>
                    </td>
                </tr>
                <tr>
                    <td>Luna</td>
                    <td>2</td>
                    <td>Kedi</td>
                    <td>Dişi</td>
                    <td>67890</td>
                    <td>
                        <button class="btn-kabul">Kabul Et</button>
                        <button class="btn-reddet">Reddet</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

