@model WebProje.Models.ModelHayvanKabul
@{
    Layout = "";
}
<style>
    .row, h1, h4 {
        margin-left: 300px;
    }
</style>
<header>
        <nav class="sidebar">
            <div>
                <h2 style="color:cornflowerblue; text-align:center;">HAYVAN BARINAĞI</h2>
                <br /><br />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="fa-solid fa-tent sidebarField" asp-area="" asp-controller="Admin" asp-action="Index"><span>Sahiplenme Istek</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-people-roof sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Kabul"><span>Kabul Istekleri</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-person-shelter sidebarField" asp-area="" asp-controller="Admin" asp-action="Admin_Users"><span>Kullanicilar</span></a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="fa-solid fa-dog sidebarField" asp-area="" asp-controller="Admin" asp-action="Animals"><span>Hayvanlar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<h1>Edit Animal</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HayvanID" />
            <div class="form-group">
                <label asp-for="User_ID" class="control-label"></label>
                <input asp-for="User_ID" class="form-control" />
                <span asp-validation-for="User_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal_Name" class="control-label"></label>
                <input asp-for="Animal_Name" class="form-control" />
                <span asp-validation-for="Animal_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal_Age" class="control-label"></label>
                <input asp-for="Animal_Age" class="form-control" />
                <span asp-validation-for="Animal_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal_Gender" class="control-label"></label>
                <input asp-for="Animal_Gender" class="form-control" />
                <span asp-validation-for="Animal_Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal_Kind" class="control-label"></label>
                <input asp-for="Animal_Kind" class="form-control" />
                <span asp-validation-for="Animal_Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HayvanDurum" class="control-label"></label>
                <input asp-for="HayvanDurum" class="form-control" />
                <span asp-validation-for="HayvanDurum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Animals">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
